nav{
    display: flex;
padding: 24px 160px;
justify-content: space-between;
align-items: center;
}

button{
    display: flex;
padding: 15px 30px;
justify-content: center;
align-items: center;
gap: 1000px;
border-radius: 8px;
border: 1px solid #006A50;
}